@model WideWorldImporters.Models.People

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>People</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredName" class="control-label"></label>
                <input asp-for="PreferredName" class="form-control" />
                <span asp-validation-for="PreferredName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPermittedToLogon" /> @Html.DisplayNameFor(model => model.IsPermittedToLogon)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LogonName" class="control-label"></label>
                <input asp-for="LogonName" class="form-control" />
                <span asp-validation-for="LogonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsExternalLogonProvider" /> @Html.DisplayNameFor(model => model.IsExternalLogonProvider)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="HashedPassword" class="control-label"></label>
                <input asp-for="HashedPassword" class="form-control" />
                <span asp-validation-for="HashedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSystemUser" /> @Html.DisplayNameFor(model => model.IsSystemUser)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEmployee" /> @Html.DisplayNameFor(model => model.IsEmployee)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSalesperson" /> @Html.DisplayNameFor(model => model.IsSalesperson)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserPreferences" class="control-label"></label>
                <input asp-for="UserPreferences" class="form-control" />
                <span asp-validation-for="UserPreferences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber" class="control-label"></label>
                <input asp-for="FaxNumber" class="form-control" />
                <span asp-validation-for="FaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMailAddress" class="control-label"></label>
                <input asp-for="EMailAddress" class="form-control" />
                <span asp-validation-for="EMailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomFields" class="control-label"></label>
                <input asp-for="CustomFields" class="form-control" />
                <span asp-validation-for="CustomFields" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEditedBy" class="control-label"></label>
                <input asp-for="LastEditedBy" class="form-control" readonly value="1"/>
                <span asp-validation-for="LastEditedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" value="@DateTime.Today.ToShortDateString()" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" value="12/31/9999"/>
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
